.active{
    background-color: rgb(30 58 138);
    height:30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
}
.icons{
    background-color: rgb(59 130 246);
    height: 30px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: max-content;
}
.glass{
    /* z-index: -6; */
    background: rgba(255, 255, 255, 0.2);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(18px);
-webkit-backdrop-filter: blur(1.8px);
border: 1px solid rgba(255, 255, 255, 0.28);
}